@import './variables.scss';

.box {
  padding: 40px 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 380px;
  height: auto;
  padding: 40px 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 2px #ccc;

  h3 {
    border-bottom: 1px dotted #ffbe44;
    margin-bottom: 5px;
  }

  p {
    margin-bottom: 0;
  }

  .dataPoint {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 5px 0;
    width: 100%;

    .label {
        margin-right: 5px;
    }

    .value {
      font-weight: bold;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: baseline;
    }
  }

  .column {
    flex-flow: column nowrap;
    align-items: flex-start;
  }
}
